.contact-us {
    position: relative;
    padding-bottom: 465px;
    padding-top: 300px;
    // background-image: url('../../img/contact-background.png');
}
.contact-subtitle {
    // margin-top: 345px;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    color: $textColor;
    text-align: center;
}
.section-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $textColor;
    margin-top: 38px;
    margin-bottom: 70px;
}
.select {
    text-align: center;
    position: relative;
    &::before {
        content:"";
        width: 19px;
        height: 21px;
        background-image: url('../../img/sprite.png');
        background-repeat: no-repeat;
        background-position: -41px 0px;
        position: absolute;
        top: 19px;
        left: 400px;
        cursor: pointer;
    }
    &::after {
        content:"";
        background-image: url('../../img/sprite.png');
        width: 14px;
        height: 9px;
        background-repeat: no-repeat;
        background-position: -41px -21px;
        position: absolute;
        top: 26px;
        right: 400px;
        cursor: pointer;
    }
}
.select-input {
    background: #F7FCFF;
    border: 0.5px solid #95D3FF;
    border-radius: 50px;
    width: 490px;
    height: 58px;
    padding-left: 66px;
    font-size: 16px;
    color:$textColor;
    outline: none;
    cursor:pointer;
    &::placeholder {
        color: #BCC4C8;
        font-size: 14px;
    }
}
.contact-list {
    width: 385px;
    position: absolute;
    top: 57px;
    left: 453px;
    background: #F7FCFF;
    border: 0.5px solid #95D3FF;
    border-radius: 0px 0px 50px 50px;
    text-align: start;
    font-size: 13px;
    line-height: 13px;
    color: #131E26;
    height: 0;
    overflow: hidden;
    transition: height ease .4s;
    z-index: 11;
    &.active {
        display: block;
        height: 155px;
        transition: height ease .5s;
        z-index: 11;
    }
}
.point {
    padding-left: 60px;
    padding-top: 7px;
    &:hover {
        font-weight: 500;
        cursor: pointer;
    }
}
.tel {
    width: 288px;
    height: 37px;
    font-size: 30px;
    color: #1A394B;
    margin-left: 505px;
    margin-top: 56px;
    position: relative;
    display: none;
    &::before {
        content: "";
        background-image: url('../../img/sprite.png');
        background-position: 0px 0px;
        width: 41px;
        height: 41px;
        position: absolute;
        top: -7px;
        left: -55px;
    }
    &.active {
        display: block;
    }
}
.asking-girl {
    width: 187px;
    height: 270px;
    position: absolute;
    top: 280px;
    left: 1000px;
}