.hero{
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 83px;
  padding-bottom: 100px;
  position: relative;
  &:after{
  @include gradient-bottom;
  }
  &__text-wrap{
    width: 38%;
    position: relative;
    z-index: 5;
  }
  &__title{
    font-family: $logoText;
    font-weight: normal;
    font-size: 96px;
    line-height: 90px;
    letter-spacing: 0.1em;
    margin-bottom: 34px;
  }
  &__desc{
    font-weight: 300;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 40px;
  }
}