.links-flex {
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    &.down-line {
        margin-bottom: 172px;
      &>a.link {
        width: 102px;
        height: 111px;
        &.border-of-image::before {
            width: 33px;
            left: 33px;
        } 
      }  
    }
}
.link {
    display: inline-block;
    width: 152px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: relative;
    &.border-of-image::before {
        width: 50px;
        left: 50px;
    }
    &:hover::after {
        content: attr(data-title);
        position: absolute;
        width: auto;
        top: 100%;
        left: 10%;
        z-index: 1;
        background-color: #F7FCFF;
        font-size: 11px;
        padding: 5px 10px;
        border: 0.5px solid #95D3FF;
        border-radius: 10px;
        color: $textColor;
    }
}