.map{
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 1200px;
  position: relative;
  &:after{
    content:'';
    position: absolute;
    z-index: 5;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background: linear-gradient(
                    to top,
                    rgba(255,255,255, 1) 0%,
                    rgba(255,255,255, .9) 7%,
                    rgba(255,255,255, .8) 9%,
                    rgba(255,255,255, .4) 12%,
                    rgba(255,255,255, .2) 15%,
                    rgba(255,255,255, 0) 20%,
                    rgba(255,255,255, .2) 75%,
                    rgba(255,255,255, .6) 80%,
                    rgba(255,255,255, .8) 85%,
                    rgba(255,255,255, .9) 90%,
                    rgba(255,255,255, 1) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  &__location{
    @include flexCenter;
    flex-direction: column;
    position: absolute;
    top:0;
    left: 187px;
    width: 350px;
    z-index: 10;
  }
  &__container{
    position: relative;
    min-height:1000px;
    background-position: left top;
  }
  &__logo-text{
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
  }
  &__contacts{
    background-color: #fff;
    position: absolute;
    top:0;
    right: 17px;
    border: 1px solid #95D3FF;
    width: 550px;
    border-radius: 10px;
    z-index: 10;
    padding: 25px 50px;
    &>ul{
      padding-bottom: 30px;
    }
    &>ul>li{
      width: 100%;
      display: flex;
    }
  }
  &__contacts-title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 30px;
    letter-spacing: 0.05em;
  }
  &__contacts-item-name{
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.05em;
    padding-right:20px;
    padding-bottom: 30px;
    &--w40{
      width: 40%;
    }

  }
  &__contacts-item-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.05em;
    &--w55{
      width: 55%;
    }

  }
}
