.map{
  padding-top: 100px;
  padding-bottom: 100px;
  &__container{
    position: relative;
    min-height:562px;
    background-position: left top;
    @include background;
    &:after{
      @include gradient-bottom;
    }
  }
  &__logo-text{
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
  }
  &__contacts{
    background-color: #fff;
    position: absolute;
    top:20%;
    right: 17px;
    border: 1px solid #95D3FF;
    width: 479px;
    border-radius: 10px;
    z-index: 10;
    padding: 25px 50px;
    &>ul{
      padding-bottom: 70px;
    }
    &>ul>li{
      width: 100%;
      display: flex;
    }
    &-leaf{
      position: absolute;
      right: 0;
      height: 116px;
      width: 134px;
      background-repeat: no-repeat;
      &--right-rotate{
        top: 30%;
        background-image: url("../img/leaf-right-rotate.png");
      }
      &--left-rotate{
        top: 68%;
        background-image: url("../img/leaf-left-rotate.png");
      }
      &--horiz-rotate{
        top: 85%;
        background-image: url("../img/leaf-horizontal.png");

      }

    }
    &-title{
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 27px;
      padding-bottom: 30px;
      letter-spacing: 0.05em;
    }
    &-item-name{
      font-size: 18px;
      line-height: 17px;
      letter-spacing: 0.05em;
      padding-right:20px;
      padding-bottom: 30px;
      &--w40{
        width: 40%;
      }
    }
    &-item-text{
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.05em;
      &--w55{
        width: 55%;
      }
    }
  }
}
.gradient-container{
  position: relative;

  //&:after{
  // @include gradient-top-bottom;
  //}
}
