.news{
  background-image: url("../img/news-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 0;
  &:after{
    @include gradient-top-bottom;
  }
}
.slider{
  margin-top: 68px  ;
  @include flexCenter;
  position: relative;
  z-index: 4;
  &-container{
    @include flexCenter;
    position: relative;
    width: 100%;
  }
}
.arrow{
  cursor: pointer;
  width: 80px;
  height: 100px;
  display: flex;
  @include flexCenter;
  & path{
    stroke: #82b9e2;
  }
}
.slide{
  @include flexCenter;
  flex-direction:column;
  transform: scale(.5);
  position: relative;
  margin-right: -12%;
  margin-left: -12%;
  z-index: 1;
  opacity: .6;
  transition: all .9s;
  &__img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 349px;
    height: 330px;;
  }

  &>a:link,
  &>a:visited{
    display: block;
    text-decoration: none;
    padding: 26px 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #819098;
  }
  &.active{
    transform: scale(1);
    z-index: 3;
    opacity: 1;

    &>.slide__img{
      box-shadow: 0 6px 17px 7px rgba(26,57,75,1);
    }
    &>a:link,
    &>a:visited{
      font-weight: 500;
      font-size: 21px;
      line-height: 30px;
      color: $textColor;
    }
  }
  &.near-active{
    transform: scale(.7);
    z-index: 2;
    margin-right: 0;
    margin-left: 0;
    opacity: .8;
  }
}