.awards-block {
    text-align: center;
    width: 228px;
    margin-bottom: 55px;
}
.border-awards {
    height: 354px;
}
.awards-image {
    width: 195px;
    height: 331px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin-top: 10px;
}
.awards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}
.flex-down-line {
    display: flex;
    justify-content: center;
    &>.awards-block {
        margin-left: 30px;
    }
}
.name-of-awards {
    font-size: 16px;
    line-height: 30px;
}