.short-about{
  padding-top: 60px;
  padding-bottom: 125px;
  position: relative;
  background-image: url('../img/short-about-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  &:after{
    @include gradient-top-bottom;
  }
  &>.container{
    position: relative;
    z-index: 5;
  }
  & .section-title{
    margin-bottom: 105px;
  }
  &__item-wrap{
    list-style-type: none;
    counter-reset: num;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 53px;
    grid-row-gap: 86px;
    &>li{
      background: #FFFFFF;
      border: 0.5px solid #77D2FF;
      border-radius: 30px;
      padding: 40px 50px;
      font-size: 18px;
      line-height: 30px;
      position: relative;
      @include flexCenter;
    }
    &>li::before {
      content: '0'counter(num);
      counter-increment: num;
      font-weight: bold;
      font-size: 48px;
      line-height: 29px;
      letter-spacing: 0.14em;
      color: #77D2FF;
      position: absolute;
      top:50%;
      transform: translate(-50%, -50%);
      left:0;
    }
  }

}