@import "variables";
@import "mixins";
@font-face{
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.ttf') format('truetype'),
  url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.ttf') format('truetype'),
  url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.ttf') format('truetype'),
  url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype'),
  url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Black.ttf') format('truetype'),
  url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
html{
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  color: $textColor;
  font-family: $mainFont;
}
*, :after, :before{
  box-sizing: inherit;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
}
.container{
  min-width: 320px;
  max-width: 1270px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
//main button styles
.main-btn{
  &__cont{
    width: 335.8px;
    border: 0.5px solid #F57AA1;
    border-radius: 50px;
    font-family: $mainFont;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    @include flexCenter;
  }
  &__bg{
    width: 100%;
    padding: 12px;
    background-color: #FF739F;
    border-radius: 50px;
  }
  &__inner-text{
    padding: 16px;
    width: 100%;
    background: linear-gradient(80.71deg, rgba(255, 255, 255, 0.02) 4.16%, rgba(196, 196, 196, 0) 11.39%), linear-gradient(80.71deg, rgba(255, 255, 255, 0.15) 4.16%, rgba(196, 196, 196, 0) 11.39%);
    border-radius: 50px;
    position: relative;
  }
  &__inner{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(80.71deg, rgba(255, 255, 255, 0.02) 4.16%, rgba(196, 196, 196, 0) 11.39%), linear-gradient(80.71deg, rgba(255, 255, 255, 0.16) 4.16%, rgba(196, 196, 196, 0) 11.39%);
    border-radius: 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

//section-title style
.section-title{
  font-style: normal;
  font-size: 48px;
  line-height: 90px;
  color: #131E26;
  @include flexCenter;
  width: 100%;
  position: relative;
  &::before{
    content: url('../img/Group\ 753.svg');
    position: absolute;
    left: 65px;
    top: -5px;
  }
  &::after{
    content: url('../img/Group\ 754.svg');
    position: absolute;
    right: 65px;
    top: -5px;
  }
}
//style for subtitle
.section-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 90px;
  color: #1A394B;
  @include flexCenter;
  width: 100%;
  position: relative;
  &::before{
    content: url('../img/subtitle-dots-left.svg');
    position: absolute;
    left: 327px;
    top: -5px;
  }
  &::after{
    content: url('../img/subtitle-dots-right.svg');
    position: absolute;
    right: 327px;
    top: -5px;
  }
}
.bold-text{
  font-weight: 500;
}

.text-center {
 text-align: center;
}

@import "sections/header";
@import "sections/hero-section";
@import "sections/short-about";
@import "sections/map";
@import "sections/footer";
@import "pages/sp-service";
